@{
    ViewData["Title"] = "Home Page";
}

    <div class="middle-row ">
        <div class="middleColumn-left container">
            <a href="#"><img src="~/images/social (2).png" class="img"></a>
            <h3>Username</h3>
            <h3>About &#160;&#160;<a href="#"><img src="~/images/edit.png"></a> </h3>
            <div class="userInfo">
                <div class="aboutUser">
                    <p>Full Name : <label>John Doe</label> </p>
                    <p>Gemder : <label>Male</label></p>
                    <p>Birth Date : <label>01 / 02 / 1998</label></p>
                    <p>Mail : <label>JohnDoe@gmail.com</label></p>
                    <p>Phone : <label>598 13 25 37</label></p>
                    <p>City : <label>Tbilisi</label></p>
                </div>
                <div class="userEducation">
                    <p>Proffesion : <label>Fullstack Developer</label> </p>
                    <p>Education : <label>Tbilisi State University</label></p>
                    <p>Degree : <label>Computer Science</label></p>
                    <p>Rating : <label>7.6</label></p>
                </div>
            </div>
        </div>
        <div class="middleColumn-right container">
            <h3>About Me &#160;&#160;<a href="#"><img src="~/images/edit.png" style="float: right;"></a></h3>
            <div class="aboutMe">
                <label>Im programmer</label>
            </div>
            <h3>Skills &#160;&#160;<a href="#"><img src="~/images/edit.png" style="float: right;"></a></h3>
            <div class="mySkills">
                <a href="#">html</a>
                <a href="#">css</a>
                <a href="#">JS</a>
                <a href="#">asp.net</a>
                <a href="#">ado.net</a>
                <a href="#">Bootstrap</a>
                <a href="#">Angular</a>
                <a href="#">React.js</a>
                <a href="#">Sql</a>
                <a href="#">C#</a>
                <a href="#">...</a>
            </div>
            <h3>Current Projects</h3>
            <div class="myProjects">
                <a href="#">Sample Project</a>
                <a href="#">Sample Project</a>
                <a href="#">Sample Project</a>
                <a href="#">Sample Project</a>
                <a href="#">Sample Project</a>
                <a href="#">Sample Project</a>
                <a href="#">Sample Project</a>
                <a href="#">Sample Project</a>
                <a href="#">Sample Project</a>
                <a href="#">Sample Project</a>
                <a href="#">Sample Project</a>
                <a href="#">Sample Project</a>
                <a href="#">Sample Project</a>
                <a href="#">Sample Project</a>
                <a href="#">Sample Project</a>
                <a href="#">&#160;&#160; ... &#160;&#160;</a>
            </div>
        </div>
    </div>
